<!DOCTYPE html>
<html>
    <head>
        <meta charset = "ISO-8859-1" />
        <link href = "css/styles.css" rel = "stylesheet"/>
        <title>Spring Boot Application</title>
    </head>
    <body>
        <h2>Welcome to Employee Spring Boot Web Application</h2>
        <p>Here are the links for the API requests:</p>
        <p><a href="http://localhost:8080/get-employees">GET Employees</a></p>
        <p><a href="http://localhost:8080/add-employees">POST Employees</a></p>
        <p><a href="http://localhost:8080/update-employees">PUT Employees</a></p>
        <p><a href="http://localhost:8080/delete-employees">DELETE Employees</a></p>
    </body>
</html>